.btn-order:hover {
  cursor: pointer;
}
.btn-food:hover {
  cursor: pointer;            
  background-color: black;
  color: #FFFFFF;
}
.btn-food {
  display: flex;
  width: auto;
  height: 66px;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 50px;
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32.4px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #292929;
  background-color: #FFFFFF;
  border: none;
  overflow: hidden;
  white-space: nowrap;
}
.btn-food img {
  width: 42px;
  height: 42px;
}
.food-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1068px;
  height: 430px;
  gap: 32px;
}
.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 334.6666564941406px;
  height: 419px;
  justify-content: space-between;
  border-radius: 12px;
  padding: 32px;
  background-color: #FFFFFF  
}
.food-section p {
  font-family: 'Barlow';
  font-size: 22px;
  line-height: 29.44px;
  font-weight: 600;
  letter-spacing: 0;
  vertical-align: middle;
  color: #292929;
  width: 270.6666564941406px;
  height: 29px;
  margin-bottom: 1rem;
}
.food-rating {
  display: flex;
  width: 270.6666564941406px;
  height: 29px;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 29px;
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1B1B1BB2;
  vertical-align: middle;
}
.food-comments {
  display: flex;
  align-items: right !important;
  justify-content: right !important;
  width: 38px;
  height: 29px;
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1B1B1BB2;
  vertical-align: middle;
  margin-left: 130px;
}
.food-price {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 55.01250076293945px;
  height: 25px;
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 20px;
  line-height: 24.76px;
  letter-spacing: 0;
  color: #292929;
  vertical-align: middle;
  text-align: right;
  margin-left: 20px;
}
.food-item img {
  width: 270.6666564941406px;
  height: 265px;
  margin-bottom: 20px;
}
.food-stuff {
  width: 270.6666564941406px;
  height: 355px;
  gap: 24px;
}