.footer-section {
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  margin-top: 60px;
  margin-bottom: 50px;
}
.footer-item {
  display: flex;
  width: 1066px;
  height: 390.3671875px;
  justify-content: space-between;
}
.iletisim-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1066px;
  height: 390.3671875px;
}
.iletisim-section img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.iletisim-section .logo {
  width: 251px;
  height: 100px;
  margin-bottom: 30px;
  padding: 0;
  margin-right: 100px;
}
.iletisim-section li {
  display: flex;
  align-items: center; 
  padding-bottom: 30px;
  font-family: 'Barlow';
  font-style: normal;
}
.footer-left {
  display: flex;
  justify-content: center;
  width: 663px;
  height: 390.3671875px;
  color: white;
  margin-left: 400px;
}
.address {
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32.4px;
  font-weight: 400;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  width: 306px;
  height: 173.5625px;
}
.menu-section {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 321.453125px;
  margin-top: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.menu-section h2 {
  font-family: 'Barlow';
  font-size: 24px;
  line-height: 32.11px;
  font-weight: 500;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.menu-section ul {
  display: flex;
  flex-direction: column;
  width: 221px;
  height: 242.34375px;
  padding: 2px 5.39px;
  gap: 7.39px;
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32.4px;
  font-weight: 400;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  list-style: none;
}
.social-section {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 332px;
  gap: 40px;
  margin-bottom: 50px;
}
.social-section h2 {
  font-family: 'Barlow';
  font-size: 24px;
  line-height: 32.11px;
  font-weight: 500;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  margin-left: 100px;
  margin-top: 60px;
}
.social-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 10px; 
  width: 300px; 
  height: 200px; 
  margin-left:50px;
}
.social-image img {
  width: 90px; 
  height: 90px;
  border-radius: 5px;
  object-fit: cover; 
}
.copyright {
  display: flex;
  width: 100%;
  height: 27px;
  font-family: 'Barlow';
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 40px;
  align-items: left;
  justify-content: left;
  margin-left: 450px;
}
.bottom-footer {
  flex-wrap: wrap;
  width: 100%;
  height: 27px;
  color: #FFFFFF;
}
.footer-border {
  width: 100%;
  height: 89.796875px;
  border-top: 1px solid #FFFFFF;
}